header .container{
  background-color: aqua;

}

.header-nav{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.link {
  display: inline-block;
  @media screen and (max-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.this {
    color: $accent-color;
  }
  .header-nav &:hover,
  .header-nav &:focus {
    color: $accent-color;
    transition: 250ms;
  }
}

.header-nav {
  
  .item{
    text-align: center;
    margin-top: 15px;
  }

  
  & .this {
    background-color: $white-color;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
   /* max-height: initial;
    transition: none;*/

    & .item:not(:last-child) {
      margin-right: 50px;
    }

    & .item {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
    }
  }


  @media screen and (max-width: 767px) {
    display: none;
    padding: 15px;
  }
}

.active{
  display: block;
}

.menu-toggle{
  @media screen and (min-width: 768px) {
    display: none;
  }

  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
